{% extends "base.html" %}
{% load static %}
{% block body_block %}

	<section id="content" class="container about">


		<div class="section primary">

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<p>Come Along is a new way of making and sharing projects with the help of the community. The concept is simple, everybody can be both a creator or a contributor to other people's ideas.</p>
					<p>This is a growing project and, with your help, we want to change the way people work and get a closer relationship between the creators/organizations and their audience.</p>
				</div>
			</div>

		</div>			

		<div class="section">

			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<img src="{% static 'img/logo.png' %}" alt="Come Along Logo" />
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-2">
					<h4 class="section-title center">Our Vision</h4>
					<p>We want to take people one step closer to completing their projects and ideas and make it easier to find the people you need and with the motivation you search.</p>
					<p>We value the non-financial contributions and we know that everybody has something to offer, either by feedback or specific work.</p>
				</div>
			</div>

		</div>

		<div class="section">

			<div class="row">
				<div class="col-xs-12">
					<h4 class="section-title">How does it Work?</h4>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="role">Contributor</p>
					<p>Contributors have an important role to someone’s project. You have the power to guide the team the best way and help them make decisions. In short, you can:</p>
					<ul>
						<li>give feedback and report problems</li>
						<li>share it to make it grow</li>
						<li>be an active contributor and take part on the development</li>
					</ul>
					<p>To be an active contributor you have to apply to the project vacancies when they open and wait for your application to be accepted.</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="role">Founder</p>
					<p>So, you made the best choice and want your project to be noticed. As a founder you will benefit from a vast range of opinions and people willing to contribute. Your job is to keep your audience following your projects with updates and benefits.</p>
					<p>At any time if you need someone to join the team let it be those who already are fascinated by the idea. Open vacancies and choose from the list of candidates the one(s) who will bring the best for the project.</p>
				</div>
			</div>

		</div>

		<div class="section">

			<div class="row">
				<div class="col-xs-12">
					<h4 class="section-title">Our Team</h4>
				</div>
			</div>
			<div class="team-members">
				<div class="row  row-centered">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="member">
							<div class="hexagon"><div class="hexagon-in-1"><div class="hexagon-in-2" style="background-image: url({% static 'img/ana.jpg' %})"></div></div></div>
							<div class="info">
								<a href="#">
									<h3 class="name">Ana Pardal</h3>
								</a>
								<span class="position">Developer</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="member">
							<div class="hexagon"><div class="hexagon-in-1"><div class="hexagon-in-2" style="background-image: url({% static 'img/diana.jpg' %});"></div></div></div>
							<div class="info">
								<a href="#">
									<h3 class="name">Diana Umbelino</h3>
								</a>
								<span class="position">Developer</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="member">
							<div class="hexagon"><div class="hexagon-in-1"><div class="hexagon-in-2" style="background-image: url({% static 'img/goncalo.jpg' %})"></div></div></div>
							<div class="info">
								<a href="#">
									<h3 class="name">Gonçalo Santos</h3>
								</a>
								<span class="position">Developer</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="member">
							<div class="hexagon"><div class="hexagon-in-1"><div class="hexagon-in-2" style="background-image: url({% static 'img/guilherme.jpg' %});"></div></div></div>
							<div class="info">
								<a href="#">
									<h3 class="name">Guilherme Graça</h3>
								</a>
								<span class="position">Developer</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-centered">
						<div class="member">
							<div class="hexagon"><div class="hexagon-in-1"><div class="hexagon-in-2" style="background-image: url({% static 'img/ines.jpg' %});"></div></div></div>
							<div class="info">
								<a href="#">
									<h3 class="name">Ines Simões</h3>
								</a>
								<span class="position">Developer</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-centered">
						<div class="member">
							<div class="hexagon"><div class="hexagon-in-1"><div class="hexagon-in-2" style="background-image: url({% static 'img/joao.jpg' %});"></div></div></div>
							<div class="info">
								<a href="#">
									<h3 class="name">João Saraiva</h3>
								</a>
								<span class="position">Designer</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-centered">
						<div class="member">
							<div class="hexagon"><div class="hexagon-in-1"><div class="hexagon-in-2" style="background-image: url({% static 'img/maria.jpg' %});"></div></div></div>
							<div class="info">
								<a href="#">
									<h3 class="name">Maria Filipa</h3>
								</a>
								<span class="position">Developer</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>			

	</section>

	<section id="call-to-action">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h3>How can you help?</h3>
					<p>At this point we want our initiative to be noticed. We want you to create and participate in projects giving strength to our platform and share it with your friends or on the internet.</p>

					<button class="btn btn-default btn-move"><a href="#signin" data-toggle="modal" data-target="#signup-signin-md">Join Now</a></button>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
