<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>{% block title %}ComeAlong{% endblock %}</title>
	<meta name="description" content="Come Along is a new way of making and sharing projects with the help of the community. The concept is simple, everybody can be both a creator or a contributor to other people's ideas.">
	<meta name="keywords" content="projects community creative">
	<meta property="og:title" content={% block metatitle %}"ComeAlong"{% endblock %}/>
	{% block ogimage %}
	{% endblock %}
	{% include "static.html" %}
</head>

<body>

	{% include "navbar.html" %}

	{% block body_block %}
	{% endblock %}

	{% include "footer.html" %}

</body>
</html>
