{% load static %}
{% load bootstrap3 %}


<!-- Imported -->
<link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Montserrat:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic|Source+Sans+Pro:300|Volkhov:400,400italic">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

<!-- Bootstrap -->
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}">
<!--
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
-->
