{% extends "base.html" %}
{% load static %}
{% block body_block %}

	<section id="content" class="container about">


		<div class="section primary">

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<p>ComeAlong is still in alpha state.</p>
					<p>This page will be updated with a list of built and upcoming features so you can watch our project growing. New features will also be highlighted with a green color.</p>
					<p>Please contact us to comealongplatform@gmail.com if you have any question, feedback or feature request in mind. This project is for YOU so we want YOU to also take part in building ComeAlong.</p>
				</div>
			</div>

		</div>			

		<div class="section">

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h4 class="section-title center">Built</h4>
					<ul>
						<li>Lorem Ipsum</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h4 class="section-title center">Comming Soon</h4>
					<ul>
						<li>Lorem Ipsum</li>
					</ul>
				</div>
			</div>

		</div>	

	</section>

	<section id="call-to-action">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h3>How can you help?</h3>
					<p>We want you to create and participate in projects giving strength to our platform and share it with your friends or on the internet. Give us your feedback and ideas. Anything from YOU will be valuable for us.</p>

					<button class="btn btn-default btn-move"><a href="#signin" data-toggle="modal" data-target="#signup-signin-md">Join Now</a></button>
					<button class="btn btn-default btn-move"><a href="mailto:comealongplatform@gmail.com?Subject=Feedback ComeAlong">Give Feedback</a></button>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
