{% extends "base.html" %}

{% block body_block %}

	{% include "header.html" %}

	{% comment %}
	<!-- Trending -->
	<hr>
		<div style="text-align: center;">
			Trending
		</div>
	<hr>
	<div id="trending_projects" class="project_container">
		{% with projects=new_projects %}
			{% include "projects/project_list.html" %}
		{% endwith %}
	</div>
	{% endcomment %}

	<!-- New Projects -->
	<hr>
		<div style="text-align: center;">
			New
		</div>
	<hr>
	<div id="new_projects" class="project_container">
		{% with projects=new_projects %}
			{% include "projects/project_list.html" %}
		{% endwith %}
	</div>
{% endblock %}
