{% extends "base.html" %}

{% block body_block %}

	{% include "header.html" %}

	<section id="content" class="container">

		<div class="section">

			<div class="row">
				<div class="col-xs-12">
					<h4 class="section-title">Pick of the week</h4>
				</div>
			</div>
			<div class="hand-picked">
				<div class="row">
					{% with projects=staffpicks_projects %}
						{% include "projects/project_staffpick.html" %}
					{% endwith %}
				</div>
			</div>
		</div>

		<div class="section">

			<div class="row">
				<div class="col-xs-12">
					<h4 class="section-title">Latest Projects</h4>
				</div>
			</div>
			<div class="latest-projects">
				<div class="row">
					{% with projects=new_projects %}
						{% include "projects/project_list.html" %}
					{% endwith %}
				</div>
			</div>
		</div>

	</section>

{% endblock %}
