<nav id="navigation" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#avigation-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Come Along</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/projects">Discover</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/features">Feature List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="/users/{{ user.username }}">{{ user.get_short_name }}</a></li>
        <li><a href="/projects/new/">Create</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.notifications.count }}</a>
          <ul class="dropdown-menu" role="menu">
            {% for n in user.notifications.unread %}
              <li><a href="#">{{ n }}</a></li>
            {% endfor %}
            <li class="divider"></li>
          </ul>
        </li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="#signin" data-toggle="modal" data-target="#signup-signin-md">Sign In</a></li>
        <li><a href="#signup" data-toggle="modal" data-target="#signup-signin-md">Sign Up</a></li>
<!--           <li><a href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}">Sign In</a></li> -->
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

