{% load static %}
{% load bootstrap3 %}


<!-- Imported -->
<link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Patrick+Hand">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

<!-- Bootstrap -->
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
<!--
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
-->
