{% load static %}
{% load bootstrap3 %}

<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

<!-- Google Web Fonts -->
<link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Montserrat:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic|Source+Sans+Pro:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic|Volkhov:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic">

<!-- Bootstrap -->
{% bootstrap_css %}

<!-- CSS Styles -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
