{% load bootstrap3 %}

{% if user.is_authenticated%}
   {% if project.founder.id == user.id %}
      <button type="submit"  class="btn btn-primary" disabled="disabled">
         {% bootstrap_icon "star" %} You founded this project
      </button>
      <br>

   {% else %}
      {% if project.has_vacancies %}

        <form method="link" action="/projects/{{ project.id }}/apply/">
           {% buttons %}
              <button type="submit"  class="btn btn-primary">
                 {% bootstrap_icon "star" %} Apply
              </button>
           {% endbuttons %}
        </form>

      {% else %}

        <button type="submit"  class="btn btn-primary" disabled="disabled">
           {% bootstrap_icon "star" %} No vacancies at the moment
        </button>
        <br>

      {% endif %}

   {% endif %}

{% else %}
   <button type="submit"  class="btn btn-primary" disabled="disabled">
      {% bootstrap_icon "star" %} Login to Apply
   </button>
   <br>

{% endif %}
