{% load bootstrap3 %}

{% if user.is_authenticated%}
   {% if project.founder.id == user.id %}

      <button class="btn btn-default btn-blue" disabled="disabled">Founder</button>

   {% else %}
      {% if project.has_vacancies %}

        <button class="btn btn-default btn-blue"><a href="/projects/{{ project.id }}/apply/">Apply Now</a></button>

      {% else %}

        <button class="btn btn-default" disabled="disabled">No vacancies at the moment</button>

      {% endif %}

   {% endif %}

{% else %}
   <button type="submit"  class="btn btn-default btn-blue" disabled="disabled">Login to Apply</button>
{% endif %}
