<form class="application-form" id="{{ a.id }}">

   <div class="user-information">
      <div class="cover" style="background-image:url('{{this_user.avatar.url}}');" id="user_{{ this_user }}"></div>
      <h3>{{ this_user.get_full_name }}</h3>
      <button type="submit" class="btn btn-default application-button">Accept</button>
   </div>
   <div class="clearfix"></div>
   <div class="application-information">
      <div class="pitch">
         {{ a.pitch | safe }}
      </div>
      <div class="vacancies">
         
         {% for i in items %}
            <div class="vacancy">
               <input type="checkbox" name="{{ i }}" value="{{ i }}" checked /> {{ i }}
            </div>
         {% endfor %}
         
      </div>
   </div>

   <hr/>
   
</form>


