{% load static %}
<!doctype html>
<html lang="en">
<head>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/script.css' %}" rel="stylesheet" >
</head>

<body>
	{% block navbar_block %}
		{% include "navbar.html" %}
	{% endblock %}

	{% block body_block %}
	{% endblock %}

	{% block footer_block %}
		{% include "footer.html" %}
	{% endblock %}
</body>
</html>
