<footer>
   <div class="container">
      <div class="row">

         <div class="col-xs-12">
            <hr/>
            <small>© Copyright 2014, ComeAlong &nbsp;&nbsp;&nbsp; PGI</small>
            <ul class="list-inline">
               <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a><li>
               <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a><li>
               <li><a href="#"><i class="fa fa-github fa-lg"></i></a><li>
               <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a><li>
            </ul>
         </div>

      </div>
   </div>
</footer>
