{% extends "base.html" %}

{% block title %}
	{{ project.title }} - ComeAlong
{% endblock %}
{% block metatitle %}
	"{{ project.title }} - ComeAlong"
{% endblock %}
{% block ogimage %}
<meta property="og:image" content="http://comealong.dei.uc.pt{{ project.display_image.url }}"/>
{% endblock %}

{% block body_block %}
	<header id="hero" class="project cover" style="background-image: url({{ project.cover_image.url }});">
		<div class="video-icon">
			<i class="fa fa-play fa-2x"></i>
		</div>
	</header>

	<section id="content" class="container page project-single">

		<div class="section cover">

			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<aside class="project">
						<div class="logo">
							<img src="{{ project.display_image.url }}" />
						</div>
						<div class="info info-fixed">
							<a href="#">
								<h2 class="title">{{ project }}</h2>
							</a>
							<span class="author">by <a href="/users/{{ project.founder.username }}">{{ project.founder.get_full_name }}</a></span>
							<div class="bottom-info">
								<ul class="list-inline vancancies">
					               {% for v in project.vacancies.all %}
					                  {% include "projects/ui/vacancy.html" %}
					               {% endfor %}
								</ul>
								{% include "projects/ui/apply_btn.html" %}
							</div>
						</div>
					</aside>
				</div>
				<div class="col-xs-12 col-sm-8 col-sm-offset-1">
					<div class="description">
						<ul id="project-actions" class="nav nav-tabs info-fixed">
		                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
		                    <li class=""><a href="#team" data-toggle="tab">Team</a></li>
		                    {% include "projects/ui/follow_btn.html" %}
		                </ul>
		                <div id="project-info" class="tab-content">
			                <div id="description" class="tab-pane fade active in">
			                	{{ project.description | safe}}
			                </div>
			                <div id="team" class="tab-pane fade">
								{%  for p in project.positions.all %}
									<div class="team-member">
										<a href="/users/{{ p.user.username }}">
											<div class="cover" style="background-image:url('{{p.user.avatar.url}}');"></div>
											<div class="info">
												<h3>{{ p.user.get_full_name }}</h3>
												<p>
												{% for t in p.titles.all %}
													{% if forloop.last %}
													{{ t.title }}
													{% else %}
													{{ t.title }} /
													{% endif %}
												{% endfor %}
												</p>
											</div>
										</a>
									</div>
									<div class="clearfix"></div>
								{% endfor %}
			                </div>
			            </div>
			        </div>
				</div>
			</div>

		</div>

	</section>

{% endblock %}
