{% extends "base.html" %}

{% block title_block %}
	<title>{{ project.title }} - ComeAlong</title>
{% endblock %}

{% block body_block %}
	<div class="c">

		{% include "projects/ui/title.html" %}

		<ul class="nav nav-tabs" role="tablist" id="projectFounderTab">
			<li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
			<li role="presentation"><a href="#team" role="tab" data-toggle="tab">Participants</a></li>
			{% if user.id == project.founder.id %}
					<li role="presentation"><a href="#applications" role="tab" data-toggle="tab">Entries</a></li>
					<li role="presentation"><a href="#vacancies" role="tab" data-toggle="tab">Recruit</a></li>
					<li role="presentation"><a href="#edit" role="tab" data-toggle="tab">Edit</a></li>
			{% endif %}
		</ul>

		<div class="row">
			<div class="col-md-8" id="project_body">

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active description" id="description">
						{% include "projects/page/description.html" %}
					</div>
					<div role="tabpanel" class="tab-pane" id="team">
						{% include "projects/page/team.html" %}
					</div>
					{% if user.id == project.founder.id %}
							<div role="tabpanel" class="tab-pane" id="applications">
								{% include "projects/page/applications.html" %}
							</div>
							<div role="tabpanel" class="tab-pane" id="vacancies">
								{% include "projects/page/vacancies.html" %}
							</div>
							<div role="tabpanel" class="tab-pane" id="edit">
								{% include "projects/page/edit.html" %}
							</div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-2" id="project_details">

				<h3>Project</h3>
				{% include "projects/page/project_info.html" %}

				<h3>Founder</h3>
				{% include "users/previews/project_founder.html" %}
			</div>
		</div>
	</div>
{% endblock %}
