{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_block %}
	<div class="c">

		{% include "projects/page/title.html" %}

		<div class="row">
			<div class="col-md-8" id="project_body">

				<ul class="nav nav-tabs" role="tablist" id="projectFounderTab">
					<li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
					<li role="presentation"><a href="#team" role="tab" data-toggle="tab">Team</a></li>
					{% if user.id == project.founder.id %}
							<li role="presentation"><a href="#applications" role="tab" data-toggle="tab">Applications</a></li>
							<li role="presentation"><a href="#edit" role="tab" data-toggle="tab">Edit</a></li>
					{% endif %}
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="description">
						{{ project.description | safe}}
					</div>
					<div role="tabpanel" class="tab-pane" id="team">
						team
					</div>
					{% if user.id == project.founder.id %}
							<div role="tabpanel" class="tab-pane" id="applications">
								{% for a in applications %}
									<a href="/projects/{{ project.id }}/{{ a.id }}">{{ a}}</a>
								{% endfor %}
							</div>
							<div role="tabpanel" class="tab-pane" id="edit">
								<form action="/projects/{{ project.id }}/edit/" method="post" class="form" enctype="multipart/form-data">
									{% csrf_token %}
									{{ form.media }}
									{% bootstrap_form form %}
									{% buttons %}
										<button type="submit" class="btn btn-primary">
											{% bootstrap_icon "star" %} Submit
										</button>
									{% endbuttons %}
								</form>
							</div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4" id="project_details">
				 <h3>Vagas:</h3>
				<p>0/3 Designer</p>
				<br>

				{% if project.founder.id != user.id %}
					{% include "projects/page/apply_btn.html" %}
				{% endif%}
			</div>
		</div>
	</div>
{% endblock %}
