{% for p in projects %}
<div class="col-xs-12 col-md-6">
   <div class="image cover" style="background-image: url('{{p.display_image.url}}');"></div>
</div>
<div class="col-xs-12 col-md-6">
   <a href="/projects/{{ p.id }}/">
      <h3 class="title">{{ p.title }}</h3>
   </a>
   <span class="author">by {{ p.founder.get_full_name }}</span>
   <div class="content">
      <p>{{ p.short_description }}</p>
   </div>
   <div class="bottom-info">
      <ul class="list-inline vancancies">
         {% for v in p.vacancies.all %}
            {% include "projects/ui/vacancy.html" %}
         {% endfor %}
      </ul>
   </div>
<!--    <div class="top-info">
      <ul class="list-inline details">
         <li><i class="fa fa-tags"></i> Technology</li>
         <li><i class="fa fa-map-marker"></i> Coimbra, Portugal</li>
      </ul>
   </div> -->
</div>
{% endfor %}
