body {
    padding-top: 65px;
    background-color: #eee;
}

div{
   border-width: 0px;
   border-color: black;
   border-style: solid;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.c{
   margin: 0 auto;
   width: 70%;
}

.img_container{
   overflow: hidden;
}

.img_centered{
   clear:both;
}
