body {
    padding-top: 65px;
    background-color: #eee;
}

div{
   border-width: 0px;
   border-color: black;
   border-style: solid;
}

.project_container{
   width: 100%;
   padding: 20px 0 20px 0;
   display: block;
   clear: both;
}

.project_preview{
   text-align: center;
}


.c{
	margin: 0 auto;
	width: 70%;
	background:#fff;
}

#project_details{

}

#description *{
   max-width: 100%
}
