/*Images*/
.img_small{
   width: 115px;
   height: 115px;
   background-size: 115px auto ;
   padding: 10px;
   border-radius: 15px;
}

.img_medium{
   width: 200px;
   height: 200px;
   background-size: auto 200px;
   padding: 10px;
   border-radius: 15px;
}

.profile_container{
      /*cursor: pointer;*/
}

/*MOAR*/
.profile{
   padding: 20px;
}

.profile_preview{
   max-width: 250px;
   text-align: center;
   padding: 0px
}


.description{
   padding-top: 0px;
}

/*Short*/
.field{
   font-size: 20px;
   padding-right:50px;
}
