/*Images*/
.img_small{
   width: 100px;
   height: 100px;
   background-size: auto 100px;
   margin: 5px;
   border-radius: 15px;
}

.img_medium{
   width: 115px;
   height: 115px;
   background-size: 115px auto ;
   padding: 10px;
   border-radius: 15px;
}

.img_large{
   width: 200px;
   height: 200px;
   background-size: 200px auto ;
   padding: 10px;
   border-radius: 15px;
}

.profile_list{
   border-width: 1px;
   border-color: grey;
   border-style: solid;
}

.profile_container{
   display: inline-block;
   width: 100%;
   /*cursor: pointer;*/
}

/*MOAR*/
.profile{
   padding: 20px;
}

.profile_preview{
   max-width: 250px;
   text-align: center;
   padding: 0px
}


.description{
   padding-top: 0px;
}

/*Short*/
.field{
   font-size: 20px;
   padding-right:50px;
}
