{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_block %}

   <section id="content" class="container page edit-project">

      <div class="section cover">

         <div class="row">
            <form action="/projects/{{ project.id }}/apply/" method="post" class="form">
               {% csrf_token %}
               {{ form.media }}
               <div class="col-xs-12 col-sm-3">
                  <aside class="project">
                     <div class="info info-fixed">
                        <h3>You're applying for a spot at:<br><span class="project-name">{{ project }}</span></h3>
                        <button type="submit" class="btn btn-default">Submit</button>
                     </div>
                  </aside>
               </div>
               <div class="col-xs-12 col-sm-8 col-sm-offset-1">
                  {% bootstrap_form form %}              
               </div>
            </form>
         </div>
      </div>

   </section>

{% endblock %}
