{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_block %}
<div class="c">

   {% include "projects/ui/title.html" %}

   <form action="/projects/{{ project.id }}/apply/" method="post" class="form">
      {% csrf_token %}
      {{ form.media }}
      {% bootstrap_form form %}

      <div class="row">
         <div class="col-sm-8">
         </div>
         <div class="col-sm-4">
         </div>
      </div>

      {% buttons %}
         <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
         </button>
      {% endbuttons %}
   </form>
</div>


{% endblock %}
