{% extends "base.html" %}

{% block body_block %}
   <div class="c">

      {% with this_user=application.user %}

      <div style="width:85%; margin: 0 auto;">
         {% include "users/previews/application.html" %}
      </div>

      <div style="float:left; width:49%;">
         <h4 style="text-align:center;">User Description</h4>
         <div class="description">
            {{ this_user.description | safe }}
         </div>
      </div>
      <div style="float:right; width:49%;">
         <h4 style="text-align:center;">Pitch</h4>
         <div class="description">
            {{ application.pitch | safe }}
         </div>
      </div>

      {% endwith %}


   <!-- Accept/Reject Buttons -->
</div>


{% endblock %}
