{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_block %}
   <div class="c">

      {% with this_user=application.user %}

      <div style="width:85%; margin: 0 auto;">
         {% include "users/previews/application.html" %}
      </div>

      <div style="display: inline-block; width: 100%;">

         <div style="float:left; width:49%;">
            <h4 style="text-align:center;">User Description</h4>
            <div class="description">
               {{ this_user.description | safe }}
            </div>
         </div>
         <div style="float:right; width:49%;">
            <h4 style="text-align:center;">Pitch</h4>
            <div class="description">
               {{ application.pitch | safe }}
            </div>
         </div>

      </div>

      {% endwith %}

      <form action="/projects/{{ project.id }}/{{ application.id }}/" method="post" class="form">
         {% csrf_token %}
         {% bootstrap_form form%}
         {% buttons %}
            <button type="submit" class="btn btn-primary">
               {% bootstrap_icon "star" %} Accept
            </button>
         {% endbuttons %}
      </form>


   <!-- Accept/Reject Buttons -->
</div>


{% endblock %}
