{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_block %}

   <section id="content" class="container page edit-project">

      <div class="section cover">

         <div class="row">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-3">
               <aside class="project">
                  <div class="info info-fixed">
                     <h3>You're seeing all the applications made to your project.</h3>
                     <button class="btn btn-default"><a href="../">Back to Project</a></button>
                  </div>
               </aside>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-1">
            {% for a in applications %}
               {% with this_user=a.user items=a.roles.all context="a" %}
                  {% include "users/previews/applications.html" %}
               {% endwith %}
            {% endfor %}           
            </div>
         </div>
      </div>

   </section>

{% endblock %}